<html>
    <center>
    <body>
        <form method="post">
            {% csrf_token %}
        <h1>MY CART</h1>
        <table>
            
    
           <tr>
               <th><h1>{{i.user}}</h1></th>
           </tr>
           <tr>
               
               <td><img src="{{data.image.url}}", width="300px"></td>
               <td><a href="">{{data.name}}
                      </a><br>{{data.title}}<br>
                      Rs {{data.price}}<br>
                      {{form.as_p}}<a href="{% url 'cart' %}"><button>apply</button></a>
                      total stocks {{data.in_stock}}<br></td>
           </tr>
        <tr>
            <td rowspan="2"><h1>{{data.name}} added to {{user}} cart</h1></td>
        </tr>
        </table>
    </form>          
    </body>
</center>
</html>