<html>
    <center>
    <body>
        <a href="{% url 'cart'%}"><p>[Cart page]</p></a>
        <form method="post">
            {% csrf_token %}
        <h1>MY CART</h1>
        <table>
            
    
           <tr>
               <th><h1>{{i.user}}</h1></th>
           </tr>
           <tr>
               
               <td><img src="{{data.image.url}}", width="300px"></td>
               <td><a href="">{{data.name}}
                      </a><br>{{data.title}}<br>
                      Rs {{pricedata.price}}<br>
                      Quantity:
                      <input type="number", name = 'quantity'><a href="{% url 'cart'%}"><button>cart</button></a>
                      total stocks {{data.in_stock}}<br></td>
                      
           </tr>
        <tr>
            <td ><h1>{{data.name}} added to {{user}} cart,<br> check cart page</h1></td>
        </tr>
        </table>
          
    </body>
</center>
</html>

