<html>
    <form method="post">
        {% csrf_token %}
    <center>
    <body>
        

        <h1>CART</h1>
        {% for i in data %}
        <form>
        <table>
           <tr>
               
               <td><img src="{{i.product.image.url}}", width="300px"></td>
              
               <td><a href="">{{i.product.name}}
                      </a><br>{{i.product.title}}<br>
                      Rs {{i.price}}<br>
                      Quantity : {{i.quantity}}<br>
                      total stocks {{i.product.in_stock}}
                      <a><button>buy</button></a><br><br>
                      <a href="{% url 'del_cart' i.id %}">remove item</a><br>
                      </td>                      
           </tr>
        </table>
        </form>
    </form>
        {% endfor %}
        <h1>you total cart amount Rs {{ total_price }}/-</h1>
             
    </body>
</center>
</html>