<html>
    <title>ordes</title>
    <body>
        
        <center>
            <h1>My Orders</h1>
        <table>
          
            {% for i in order_product %}
            <tr>
                
                <td><img src="{{ i.order_items.product.image.url}}", width="300px"></td>
                <td>
                    
                    Product: {{i.order_items.product.name}} <br>
                    price :{{i.order_items.price}}<br>  
                    quantity: {{i.order_items.quantity}}<br>
                    Order status : {{i.order_status}}<br>
                    <a href="{% url 'cancel_order' i.id %}"><button>Cancel order</button></a>
                </td> 
                                   
            </tr>
            
            {% endfor %}  
         </table>
         <p>Your orders price : {{total_price}}</p>
         <p>taxes added(18%) : + {{tax}}</p> 
         <p>total price : Rs {{final_price}}</p> 
         <button> Comtinue and pay </button>
        </center>

    </body>
</html>