<html>
    <title>orders</title>
    <body>
        
        <center>
            <h1>My Orders</h1>
        <table>
        
            
            
            <tr>
                {% for j in data %}
                <td><img src="{{ j.product.image.url}}", width="300px"></td>
                <td>
                
                   <p>{{i.user}}
                    {{j.id}}
                    Product: {{j.product.name}} <br>
                    price :{{j.product.price}}<br>  
                    quantity: {{j.quantity}}<br>
                    Order status : {{order_product.order_status}}<br>
                    
                </td> 
                                   
            </tr>
            {% endfor %}
            
            <a href="{% url 'cancel_order' order_product.id %}"><button>Cancel order</button></a>
         </table>
         
         <p>Your orders price : {{price}}</p>
         <p>taxes added(18%) : + {{tax}}</p> 
         <p>total price : Rs {{tax_price}}</p> 
         <button> Comtinue and pay </button>
        </center>

    </body>
</html>