<html>
    <body>
        
        <center>
            <h1>order</h1>
        <table>
            <tr>
                
                <td><img src="{{ data.product.image.url}}", width="300px"></td>
               
                <td>
                    Product: {{data.product.name}}<br> price :{{data.price}}<br>

                    
                </td>                      
            </tr>
            <a href="{% url 'orders' %}">My Orders</a>
         </table>
        </center>
    </body>
</html>