<html>
    <a href="{% url 'cart'%}"><p>[Cart page]</p></a>
<center>
    <h1>Ecart</h1>
<form method="get">
    {% csrf_token %} 
    <button><a href="{% url 'logout' %}">logout</a></button> 
    <button><a href="http://127.0.0.1:8000/ecommerce/search/">Search</a></button>
</form>

<table>
    {% for i in products %}
   <tr>
    <br>
       <th><h1>{{i.name}}<br></h1></th>
   </tr>
   <tr>
       
       <td><img src="{{i.image.url}}", width="200px"></td>
       <td><a href="">{{i.name}}
              </a><br>{{i.title}}<br>
              Rs {{i.price}}<br>
              total stocks {{i.in_stock}}<br>
              <a href="{% url 'add_to_cart' i.id %}"><button>Add to cart</button></a></td>
   </tr>

   {% endfor %}
</table>
</center>
</html>